* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
  text-align: center;
}

body {
  padding: 15px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.website {
  margin: 0 auto;
  width: 760px;
}

/* ZONA LOGO  */
.logo {
  margin: 0;
  width: 900px;
  height: 400px;
  background-image: url(https://cdn5.vectorstock.com/i/1000x1000/48/44/music-store-logo-vector-20734844.jpg);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 10px;
  position: relative;
  border-bottom: 2px solid;
}

#namesite {
  position: absolute;
  top: 370px;
  left:770px;
  color: black;
  text-decoration: none;
}

/* CONTENUTO DEI BOX */
.container {
width: 900px;
height: 376px;
}

.box {
  display: inline-block;
  position: relative;
  width: 33%;
  height: 98%;
  border-style: solid;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.box.tablet{
  background-image:url(https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto/gigs/108060676/original/b5a3c835f041151e16a398cf336fde89f05a7f07/record-realistic-bass-lines.jpg);
}

.box.iphone {
  background-image:url(https://images-na.ssl-images-amazon.com/images/I/51INShoKdNL._SL1000_.jpg);
}

.box.beats {
  background-image:url(https://cdn11.bigcommerce.com/s-9ofd9xid8a/images/stencil/1280x1280/products/86/10697/765_0__05551.1540443918.jpg?c=2&imbypass=on);
}

.discount {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: black;
  color: white;
}

.discount.red {
  background-color: gray;
}

.heart {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 15px;
  display: none;
  color: white;
  font-size: 20px;
  background-color: black;
}

.box:hover .heart {
  display: block;
  cursor: pointer;
}

li {
  list-style: none;
}

ul {
  border-bottom: 2px solid;
  margin-bottom: 10px;
}

/* FOOTER */
footer{
  text-align: center;
  width: 900px;
}
